<div class="carousel-container">
  <div class="carousel-wrapper" #carouselWrapper>
    <div class="carousel-slide" *ngFor="let slide of slides">
      {{ slide }}
      <div class="imagediv">
        <img src="https://images.pexels.com/photos/4033148/pexels-photo-4033148.jpeg" alt="Man doing a sample test in the laboratory">
      </div>
      
      
      <div class="serviceName">
        <div class="Basicwash">Basic Wash</div>
        <br>
        <div class="service">
          Exterior Wash <br>
          Interior Wash <br>
          Trunk Vacuuming
        </div>
        <div class="Price">₹699</div>
        <div class="container">
          <a [routerLink]="'/CarwashTable'" class="button warning link-button">Book Now</a>


        </div>
        
    </div>
    <div class="servicesimage">
    </div>
  </div>
</div>