<div class="Container">
    <div class="container01">

        <div class="h3">
            <h3>Door Step Car wash > Car washing</h3>
        </div>

        <hr>
        <div class="popularserviceside">
            <app-pexa-service-carousel></app-pexa-service-carousel>
        </div>
        <div class="tableContainer">
            <div class="VideoBox">

                <!-- Put the video Link -->

            </div>
            <div class="h1table">
                <span>Car Wash</span>
                <div class="details">Exterior Wash
                    Interior Wash
                    Trunk Vaccumming</div>
                <br>
                <div class="Price">$699 <br>
                    <div class="CutomButton">
                        <button type="button" class=" custom-button">
                            Book Now
                        </button>
                    </div>
                </div>


            </div>
        </div>