.carousel-container {
  overflow-x: auto;
  white-space: nowrap;
  width: calc(100% - 20px); /* Adjust the width as needed */
  margin: 0 auto; /* Center the container horizontally */
}

.carousel-wrapper {
  display: inline-block;
}

.carousel-slide {
  width: 200px; /* Adjust as needed for desktop */
  height: auto; /* Adjust as needed */
  background-color: #fbf7f7; /* Adjust as needed */
  display: inline-block;
  margin-right: 10px; /* Adjust spacing between slides */
  padding-top: 2%;
}

/* Media queries for responsive design */
@media screen and (max-width: 768px) {
  .carousel-slide {
      width: 175px; /* Adjust as needed for desktop */
      height: auto; /* Adjust as needed */
  }
}

.circle, .car-image {
  width: 7vw; 
  height: 7vw; 
  border-radius: 50%;
  border: 2px solid rgb(233, 249, 0); 
  margin: 0 auto; /* Center horizontally */
  display: flex;
  justify-content: center; /* Center image vertically */
  align-items: center; /* Center image horizontally */
}

/* Media query for mobile devices */
@media screen and (max-width: 768px) {
  .circle {
    width: 60px; /* 20% of the viewport width for mobile */
    height: 60px; /* 20% of the viewport width for mobile */
  }
  .car-image {
    width: 90px; /* 20% of the viewport width for mobile */
    height: 90px;
  }
  .text {
    margin-top: 50px; /* Adjust spacing between image and text */
    text-align: center;
  }
}

.text {
  margin-top: 50px; /* Adjust spacing between image and text */
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: medium;
}
/* For Firefox */
.carousel-container::-webkit-scrollbar {
  width: 5px; /* Adjust the width of the scrollbar */
}

/* For Chrome, Safari, and Edge */
.carousel-container::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the scrollbar */
  border-radius: 10px; /* Rounded corners */
}

/* For Firefox */
.carousel-container {
  scrollbar-width: thin; /* "thin" scrollbar */
  scrollbar-color: #888 transparent; /* Color of the scrollbar thumb */
}

/* For Chrome, Safari, and Edge */
.carousel-container {
  scrollbar-width: thin; /* "thin" scrollbar */
  scrollbar-color: #f3ecec transparent; /* Color of the scrollbar thumb */
}
