<!-- <div>
    <div class="container p-2">
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <div>
                    <img src="assets/logo/logo 2.svg" style="width: 79px; height: 82px;" alt="">
                </div>
            </div>
            <div class="d-flex align-items-center">
                <div>
                    <h4 style="font-weight: 100;">Hello, Jomon</h4>
                </div>
                <div class="ms-3" style="display: flex;">
                    <img src="assets/logo/car.svg" alt="" style="margin-right: 3px;">
                    <h6 style="font-family: 'Open Sans', sans-serif; font-size: 8px; font-weight: 600; line-height: 25px; letter-spacing: 0em; margin-right:5px ;">carname</h6>

                    <img src="assets/logo/Group 348.svg" alt="" style="margin-right: 10px;">
                    <img src="assets/logo/Vector1.svg" alt="" style="margin-right: 10px;">
                    <img src="assets/logo/Vector.svg" alt="" style="margin-right: 10px;">
                    <img src="assets/logo/loupe 2.svg" alt="" style="margin-right: 10px;">
                    <img src="assets/logo/.svg" alt="" style="margin-right: 10px;">
                    <img src="assets/logo/Social Icon.svg" alt="" style="margin-right: 7px;">
                </div>
            </div>

        </div>
    </div>

    <div style="background-color: #404042F2;">
        <div class="container">
            <div class="d-flex justify-content-center p-3">
                <div class="d-flex justify-content-around w-100 text-white"
                    style="font-family: 'Open Sans', sans-serif; font-size: 14px; font-weight: 200; line-height: 16px; letter-spacing: 0em; text-align: center;">
                    <div><a routerLink="/Home">Home</a></div>
                    <div><a routerLink="/CarWash">Door Step Car wash</a></div>
                    <div><a routerLink="/CarShope">Car Shoppe</a></div>
                    <div><a routerLink="/Booking">Booking</a></div>
                    <div><a routerLink="/About">About us</a></div>
                    <div><a routerLink="/Support">Support</a></div>
                    <div><a routerLink="/Franchise">Franchise</a></div>
                </div>
            </div>
        </div>
    </div>
</div> -->