<div class="grid-container">
  <div class="grid-item">
    <div class="headline">
      Start your journey to success : The Pexa Doorstep Car Wash Franchise invites you in.
    </div>
    <div class="partnership-message">
      Don't miss out on this exciting opportunity to be part of our rapidly growing network. Join us in revolutionizing
      the car care industry with our innovative doorstep car wash concept.
    </div>
  </div>
  <div class="grid-item bg-light ml-3">
    <form class="login-form" action="#" method="post">
      <div class="form-group">

        <input type="text" id="name" name="name" required placeholder="Name">
      </div>
      <div class="form-group">

        <input type="tel" id="mobile" name="mobile" required placeholder="Mobile No:">
      </div>
      <div class="form-group">

        <input type="email" id="email" name="email" required placeholder="Email:">
      </div>
      <div class="form-group">

        <input type="text" id="location" name="location" required placeholder="Location:">
      </div>
      <div class="form-group">

        <textarea id="message" name="message" rows="4" required placeholder="Message:"></textarea>
      </div>
      <button type="submit">Submit</button>
    </form>
  </div>
</div>

<div class="p-3 text-center">
  <h2 class="fw-bold fs-5">PEXA ADVANTAGE</h2>
</div>
<div class="container">
  <div class="row">
    <div class="col text-center">
      <img src="assets/logo/washing_1618751 1.svg" alt="Image 1">
      <h2
        style="font-family: 'Open Sans', sans-serif; font-size: 28px; font-weight: 600; line-height: 39px; letter-spacing: 0em; text-align: left; text-align: center;">
        Regular Trips</h2>
      <p class="text-start"
        style="font-family: 'Open Sans', sans-serif;color: #404042 font-size: 18px; font-weight: 400; line-height: 25px; letter-spacing: 0em; text-align: center;">
        With our growing presence across multiple cities, we always have our hands full! This means you will never run
        out of trips.</p>
    </div>
    <div class="col text-center">
      <img src="assets/logo/invesment_10179329 1.svg" alt="Image 2">
      <h2
        style="font-family: 'Open Sans', sans-serif; font-size: 28px; font-weight: 600; line-height: 39px; letter-spacing: 0em; text-align: left; text-align: center;">
        Better Earning</h2>
      <p class="text-start" style="font-family: 'Open Sans', sans-serif; font-size: 18px;color: #404042;
            font-weight: 400; line-height: 25px; letter-spacing: 0em; text-align: center;">Earn more by partnering with
        the best! Regular trips and efficient service can grow your earnings!</p>
    </div>
    <div class="col text-center">
      <img src="assets/logo/pay_625599 1.svg" alt="Image 3">
      <h2
        style="font-family: 'Open Sans', sans-serif; font-size: 28px; font-weight: 600; line-height: 39px; letter-spacing: 0em; text-align: left; text-align: center; margin-top: 11%;">
        On-Time Payment</h2>
      <p class="text-start"
        style="font-family: 'Open Sans', sans-serif; color: #404042 font-size: 18px; font-weight: 400; line-height: 25px; letter-spacing: 0em; text-align: center;">
        Be assured to receive all payments on time & get the best in class support, when you attach mini truck with
        Pexa.</p>
    </div>
  </div>
</div>
<div class="custom-container">
  <div class="row">
    <div class="col-sm-12 col-md">
      <!-- Video Grid Box -->
      <div class="video-grid-box" style="margin-bottom: 20px; border-radius: 10px; overflow: hidden; margin-left: 2%;">
        <!-- You can embed your video here -->
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/VIDEO_ID" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
    </div>
    <div class="col-sm-12 col-md">
      <!-- Second Grid Box with Heading and Paragraph -->
      <div class="heading-paragraph-grid-box text-center">
        <h2 class="text-start" style="margin-bottom: 20px;">Making Your Life Easy</h2>
        <p class="text-start" style="margin-top: 20px;">Experience the ease of entrepreneurship with Pexa's mobile car
          wash franchise in India. As a franchise owner, you'll tap into a growing market demand for convenient car
          cleaning services, offering customers hassle-free solutions right at their doorstep. With Pexa's proven FOCO -
          Franchise Owned Company Operated - model business model , you'll receive comprehensive training and ongoing
          assistance to ensure your success. With minimal overhead costs and the convenience of mobile car washing,
          you'll have the freedom to set your own schedule and cater to customers in your local area. Join Pexa today
          and make your entrepreneurial journey a smooth and rewarding one.</p>
      </div>
    </div>
  </div>
</div>
<div>
  <h1 class="testimonials-title">Partner’s Testimonials</h1>
  <h1 class="life-changing-text">Changing Life of People</h1>

</div>


<div class="grid-container">
  <div class="row">
    <div class="col-sm-12 col-md">
      <div class="grid-item text-center grid-item-bg-a">
        <div class="d-flex align-items-center">
          <img src="image1.jpg" alt="Image 1">
          <h1 class="ml-2"
            style="font-family: Poppins; font-size: 25px; font-weight: 500; line-height: 21px; letter-spacing: 0em; text-align: left;">
            Anu Mohan</h1>

        </div>
        <p
          style="font-family: Open Sans; font-size: 15px; font-weight: 400; line-height: 18px; letter-spacing: 0em; text-align: left;">
          “When I first became a franchise owner of Pexa's doorstep car wash service in India, I was unsure if the
          mobile car cleaning business would be successful in Kerala. However, in a short period of time, I witnessed
          tremendous growth that surpassed all expectations. By offering the unparalleled convenience of washing
          customers' vehicles right at their doorstep, our service proved to be a true game changer. The demand for
          doorstep car cleaning services in Kerala was clearly booming, and joining Pexa lets me be part of this growing
          business while providing great service to happy customers.. Our satisfied clients appreciated the convenience
          of having their vehicles washed without having to leave their homes or offices.”
        </p>
      </div>
    </div>
    <div class="col-sm-12 col-md">
      <div class="grid-item text-center grid-item-bg-b">

        <div class="d-flex  align-items-center">
          <img src="image1.jpg" alt="Image 1">
          <h1 class="ml-2"
            style="font-family: Poppins; font-size: 25px; font-weight: 500; line-height: 21px; letter-spacing: 0em; text-align: left;">
            Thanseer Latheef</h1>

        </div>
        <p
          style="font-family: Open Sans; font-size: 15px; font-weight: 400; line-height: 18px; letter-spacing: 0em; text-align: left;">
          "Having a Pexa doorstep car wash franchise in India has exceeded my expectations. Mobile car cleaning in Kerala has gained immense popularity, and I'm thrilled to be part of this emerging industry. Pexa's invaluable support has played a crucial role in my franchise's success, equipping me with the tools to thrive in this competitive market. Providing convenient and top-notch car cleaning services has fostered customer loyalty and ensured a stable income. Investing in Pexa's franchise has proven to be a truly gratifying venture for me."
        </p>
      </div>
    </div>
    <div class="col-sm-12 col-md">
      <div class="grid-item text-center grid-item-bg-c">

        <div class="d-flex  align-items-center">
          <img src="image1.jpg" alt="Image 1">
          <h1 class="ml-2"
            style="font-family: Poppins; font-size: 25px; font-weight: 500; line-height: 21px; letter-spacing: 0em; text-align: left;">
            Muhammed Jasim</h1>

        </div>
        <p
          style="font-family: Open Sans; font-size: 15px; font-weight: 400; line-height: 18px; letter-spacing: 0em; text-align: left;">
          “I never made a better decision than investing in Pexa’s doorstep car wash franchise in India. Mobile car
          washing service in Kerala has changed the lives of its customers and I am proud to be part of this revolution.
          The success of my business is indicative of Pexa’s outstanding customer satisfaction and commitment to
          quality. There is an insatiable demand for easy car wash services, which presents opportunities for growth and
          expansion without end.”
        </p>

      </div>
    </div>
  </div>
</div>