<div class="container1">
    <img src="assets/logo/Vector.png" alt=""
        style="width: 31.37px; height: 22px; top: 157px; left: 93px; cursor: pointer;">
    <p class="support-team-text">Reach the Support Team</p>
</div>
<div class="custom_container">
    <div class="container">
        <img src="assets/logo/support 1.png" alt="" class="support-logo">

    </div>
</div>

<p class="help-text">How can we help you?</p>
<div class="centered-box-container">
    <div class="custom-box">
        <img style="width: 62.37px; height: 55px; margin-left: 42%; margin-top: 5%; cursor: pointer;"
            src="assets/logo/support 2.png" alt="" class="support-logo">
        <p class="contact-text">Contact with us</p>

    </div>
</div>
<div class="box">
    <div class="box01">
        <img src="assets/logo/Group 34093.png" alt="" class="support-logo">
        <p class="customer-care-address">customer care & address</p>
        <p class="address-text">Netoor, Ernakulam, Kochi</p>


    </div>
    <div class="box02">
        <img src="assets/logo/Group 34095.png" alt="" class="support-logo">
        <p class="contact-number">Contact Number</p>
        <p class="phone-number">+91 9874561230</p>


    </div>
</div>
<app-footer></app-footer>
