.backbutton {
    width: 100%;
    background-color: rgb(237, 242, 242);
    height: 75px;
}

.backbutton img {
    max-width: 45px;
    height: auto;
    border: 1px solid #e3dbdb;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-top: 1%;
    margin-left: 3%;
}

.background {
    width: 100%;
    height: auto;
}

.container {
    background-color: rgb(238, 238, 238);
    width: 65%;
    height: 45%;
    margin-top: 5%;
    border-radius: 25px;
    margin-bottom: 5%;

}

.delivarydate {
    display: flex;
    padding-top: 1%;
}

.delivarydate p {
    padding-left: 3%;
}

.locationBox {
    background-color: rgb(251, 251, 251);
    width: 100%;
    height: 45%;
    border-radius: 20px;
}

ul {
    list-style-type: none;
}

.thicker-bullet {
    position: relative;
    padding-left: 20px;
}

.thicker-bullet::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 2%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    background-color: yellow;
    border-radius: 50%;
}

.thicker-bullet p {
    color: black;
    margin-left: 25px;
}

.location-emblem {
    display: flex;
    margin-top: 7%;
    margin-left: 1%;
}

.location-emblem li {
    margin-left: 2%;
}

.image-text-container {
    display: flex;
    align-items: center;
}

.image-container {
    margin-top: 2%;
}

.image-container img {
    width: 40px;
    height: auto;
}

.text {
    margin-left: 10px;
    color: #0D6EFD;
    margin-top: 3%;
}

.warning-button {
    background-color: #ffc107;
    color: #212529;
    border: 1px solid #ffc107;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    margin-left: 70%;
}

.warning-button:hover {
    background-color: #f2b90d;
}

@media only screen and (max-width: 600px) {
    .container {
        background-color: rgb(223, 217, 217);
        width: 100%;
        height: auto;
        margin-top: 5%;
    }

    .backbutton img {
        max-width: 45px;
        height: auto;
        border: 1px solid #e3dbdb;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        margin-top: 5%;
        margin-left: 3%;
    }

    .locationBox {
        background-color: rgb(242, 244, 240);
        width: 100%;
        height: 55%;
        border-radius: 20px;
    }

    .location-emblem {
        display: flex;
        margin-top: 25%;
        margin-left: 0%;
    }

    .warning-button {
        background-color: #ffc107;
        color: #212529;
        border: 1px solid #ffc107;
        padding: 9px 15px;
        font-size: 16px;
        cursor: pointer;
        border-radius: 4px;
        transition: background-color 0.3s ease;
        margin-left: 14%;
        margin-top: 1%;
    }
    
    .warning-button:hover {
        background-color: #efb70f;
    }
}
