<div class="backbutton">
    <img src="assets/logo/Vector.png" alt="Logo">

</div>
<div class="background" >
<div class="container">
    <!-- Your content here -->
    <div class="delivarydate">
        <img src="assets/logo/logo 2.svg" alt="">
        <div>
            <p>Date: {{ currentDate | date:'mediumDate' }}</p>
            <p>Basic Car Wash</p>
        </div>
    </div>
    <div class="locationBox">
        <ul>
            <li class="thicker-bullet">
                <p>Pexa Partner</p>
            </li>
            <div class="location-emblem"> <img src="assets/logo/map-pin (1).svg" alt="">
                <li>User Location or Name of the User</li>
            </div>
        </ul>

    </div>

    <div class="image-text-container">
        <div class="image-container">
            <img src="assets/logo/_x35_.png" alt="">
        </div> 
        <p class="text">On the way</p>
    <button  class="warning-button">Bookagain</button>

    </div>

    


</div>
</div>