<div class="carousel-container">
  <div class="carousel-wrapper" #carouselWrapper>

    <div class="carousel-slide" *ngFor="let slide of slides">
      {{ slide }}
      <div class="VideoBox">
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/RUC-FLa5qPI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

      </div>
      <div class="serviceName">
        <h4>Basic Wash</h4>
        <br>
        <div class="services-list">
          <div class="service">
            Exterior Wash <br>
            Interior Wash <br>
            Trunk Vacuuming
          </div>
          <div class="Price">₹699</div>
          <div class="button warning">Book Now</div>

        </div>
      </div>
    </div>
    

    <div class="servicesimage">

    </div>
  </div>
</div>