<div class="container ">
    <a class="navbar-brand" href="#">
        <div class="LogoEdit">
            <img src="assets/logo/logo 2.svg" alt="">
        </div>
    </a>

    <div class="icons">

        <li class="nav-item">

            <i class="fa-solid fa-bell" style=" font-size: 24px; color: #404042;"></i>
            

        </li>
        <li class="nav-item">

            <i class="fa-solid fa-cart-shopping" style=" font-size: 24px; color: #404042;"></i>
        </li>
        <li class="nav-item">

            <i class="fa-solid fa-heart" style=" font-size: 24px; color: #404042;"></i>
        </li>

        <!-- <li class="nav-item">
            <i class="fa-solid fa-magnifying-glass" style="color: #FFD43B;"></i>
        </li> -->

        <li class="nav-item">
            <i class="fa-solid fa-user" style=" font-size: 24px; color: #404042;"></i>
        </li>

    </div>






</div>