.container {
    width: 100%;
    height: auto;
    /* background-color: aquamarine; */
    display: flex;
}


.icons {
    display: flex;
    padding-left: 65%;
    padding-top: 1%;
    list-style: none;
}


/* .sticky-name {
    display: flex;
    font-size: 15px;
    color: #404042;
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 10px;
    white-space: nowrap;
} */
/* .sticky-name {
    position: absolute;
    top: 2;
    right: 0;
    margin-right: 25px;
    padding: 10px;
    z-index: 1000;
    width: auto;
    text-align: right;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-size: 19px;
    color: #333;
 
    border-radius: 5px;
    white-space: nowrap;


} */




.nav-item {
    display: flex;
    align-items: center;
    padding: 0.1rem;
}


.nav-item img,
.nav-item i {
    margin-right: 0.2rem;
}


.icons li {
    margin-right: 1px;
}


/* Custom CSS to remove background color of the dropdown toggle button */
.nav-item.dropdown .dropdown-toggle.bg-transparent {
    background-color: transparent !important;
}


/* Custom CSS to style the icon with a dark color */
.nav-item.dropdown .dropdown-toggle .fa-solid {
    color: #333;
    /* Adjust the color as needed */
}


/* Custom CSS to remove the border from the dropdown toggle button */
.nav-item.dropdown .dropdown-toggle {
    border: none !important;
    box-shadow: none !important;
    /* Optional: Remove box shadow */
}


/* Custom CSS to remove the downward caret icon */
.nav-item.dropdown .dropdown-toggle::after {
    display: none !important;
}






@media (max-width: 767px) {
    .container {
        width: 100%;
        height: auto;
        /* background-color: rgb(210, 189, 204); */
        display: flex;
    }


    .icons {
        padding-left: 1px;
        padding-top: 15%;
    }


    .container {
        position: relative;
    }


    .sticky-name {
        position: absolute;
        top: 0;
        right: 0;
        padding: 10px;
        z-index: 1000;
        width: auto;
        text-align: right;
        box-sizing: border-box;
        font-size: 14px;
        margin-top: 20px;




    }


    .LogoEdit {
        margin-top: 10%;
        margin-bottom: 2%;
    }


    .nav-item {
        display: flex;
        align-items: center;
    }
}

.small-icon {
    font-size: 20px;
    margin-right: 10px;
    margin-top: 5px;
  }
  