<div class="container">
    <a class="navbar-brand" href="#">
        <div class="LogoEdit">
            <img src="assets/logo/logo 2.svg" alt="">
          </div>
          
    </a>
    <div class="icons">
        <li class="nav-item">
            <div class="sticky-name">Hello, Jomon</div>
        </li>

        
        <li class="nav-item">
            <img src="assets/logo/sport-car.png" alt="" style="width: 42px; height: 42px;">
            <div>Car</div> 
            <i class="fa-solid fa-chevron-down"></i>
        </li>


       
          

        <li class="nav-item d-flex p-1">
            <img src="assets/logo/Location.svg" alt="">
            <div>Location</div> 
            <i class="fa-solid fa-chevron-down"></i>
        </li>
        <li class="nav-item">
            <i class="fa-solid fa-bell"></i>
        </li>
        <li class="nav-item">
            <i class="fa-solid fa-cart-shopping"></i>
        </li>
        <!-- <li class="nav-item">
            <i class="fa-solid fa-heart"></i>
        </li> -->
        <li class="nav-item">
            <i class="fa-solid fa-user"></i>
        </li>
    </div>
</div>
