<div class="backbutton">
    <img src="assets/logo/Vector.png" alt="Logo">

</div>
<div class="container">
    <div class="box1">
        <ul>
            <li class="minibox1">Item 1</li>
            <li class="minibox2">Item 2</li>
            <li class="minibox3">Item 3</li>
            <!-- Add more list items as needed -->
        </ul>
        <div class="boxmainimage">

            <img src="" alt="Sample">
        </div>

    </div>

    <div class="box2">
        <h1>Pexa Degreaser(1L)</h1>
        <div class="rating">
            <span class="star"></span>
            <span class="star"></span>
            <span class="star"></span>
            <span class="star"></span>
            <span class="star"></span>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique nulla aut, adipisci corporis unde
            blanditiis ea qui amet nemo laudantium ullam ratione corrupti fugit est deleniti, sint nam culpa!
            Doloremque.</p>
            <!-- Quantity Box -->
<div class="quantity-box">
    <label for="quantity">Quantity:</label>
    <input type="number" id="quantity" name="quantity" min="1" value="1">
  </div>
  <!-- Buy Button -->
<button class="buy-button">Buy Now</button>

  
 
  
    </div>
</div>