<div class="container ">

    <div class="text">
        <div class="welcome-text">Welcome to Pexa</div>
        <div class="car-shoppe">Car Shoppe</div>
        <button type="button" class="btn btn-warning custom-button">
            Book Now
        </button>

    </div>

</div>

<div class="scrollacessores">
    <app-accessoriescarousel></app-accessoriescarousel>
</div>
<div class="textallign">
    <div class="deals-text">Unbeatable deals & discounts</div>
    <p class="spotlight-text">In Spotlight</p>

</div>
<div class="Box2 row ">
    <div class=" Spotlightbox col-md-6"> <app-productcarousel></app-productcarousel>
    </div>
    <div class=" col-md-6 ">
        <div style="margin-top: 1%;" class="border border-dark  d-flex h-auto   ">
            <div class="hot-deals">Hot Deals <br>
                For You</div>
            <button class="btn btn-outline-secondary"     [routerLink]="['/View_all_products']"
            >View all Products</button>
    </div>
</div>



<div class=" Box3 col-md-12 ">
    <div class=" bg-secondary w-50  h-100  ">
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/TOFkge0elHg" frameborder="0"
            allowfullscreen></iframe>

    </div>
    <div class=" bg-primary w-50  h-100">
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/7PIji8OubXU" frameborder="0"
            allowfullscreen></iframe>

    </div>
</div>
<div class="offeredproducts">
    <h3>Offered Products</h3>
    <h5>See-all Products</h5>
</div>
<div class="Offproducts"> <app-offered-producs></app-offered-producs> </div>

<div class="offeredproducts">
    <h3>Featured Products</h3>
    <h5>See-all Products</h5>
</div>
<div class="Offproducts"> <app-featuredproducts></app-featuredproducts> </div>