<!-- login.component.html -->
<div class="container">
    <div class="info">
        <div class="img">   
            <img src="assets/logo/new logo.png" alt="" height="50px" width="75px" style="margin-top: 111%;">
        </div> <br><br>

        <span>India's Biggest Door Step <br> Car Wash Network</span>

        <div class="download_logo">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSD3oJ65NDG1jnT8ADq-R5HblwTkFFifqAG5A&s" height="100px" width="400px">
        </div>
    </div>
    
    <div class="login_form">
        <h4><span>Log in</span></h4>
        <form>
            <label>Phone number, user name, or email address</label>
            <input type="text"><br><br>
            <button>Get OTP</button>
        </form>
        <div class="or" >
            <p style="margin-left: 47%;">Or</p>
        </div>
        <div class="signup">
            <span>Don't have an account? <a href="">Sign up</a></span>
        </div>
    </div>
</div>

