<nav class="navbar navbar-expand-lg navbar-light custom-navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <div class="LogoEdit">
                <img src="assets/logo/logo 2.svg" alt="">
            </div>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                <li class="nav-item">
                    <a class="navbar-brand" aria-current="page" href="#" routerLink="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="navbar-brand" href="#" routerLink="/CarWash">Door step Car wash</a>
                </li>
                <li class="nav-item">
                    <a class="navbar-brand" href="#" routerLink="/CarShope">Car shoppe </a>
                </li>
                <li class="nav-item">
                    <a class="navbar-brand" href="#" routerLink="/Booking">Track your Order </a>
                </li>
                <li class="nav-item">
                    <a class="navbar-brand" href="#" routerLink="/Support">Support </a>
                </li>
                <li class="nav-item">
                    <a class="navbar-brand" href="#" routerLink="/About">About us </a>
                </li>
                <li class="nav-item">
                    <a class="navbar-brand" href="#" routerLink="/Franchise"> Franchise </a>
                </li>

    <div class="icons">

                    <li class="nav-item">

                        <i class="fa-solid fa-bell" style=" font-size: 24px; color: #F3F3F3;"></i>
                        

                    </li>
                    <li class="nav-item">

                        <i class="fa-solid fa-cart-shopping" style=" font-size: 24px; color: #F3F3F3;"></i>
                    </li>
                    <li class="nav-item">

                        <i class="fa-solid fa-heart" style=" font-size: 24px; color: #F3F3F3;"></i>
                    </li>

                    <!-- <li class="nav-item">
                        <i class="fa-solid fa-magnifying-glass" style="color: #FFD43B;"></i>
                    </li> -->

                    <li class="nav-item">
                        <i class="fa-solid fa-user" style=" font-size: 24px; color: #F3F3F3;"></i>
                    </li>

                </div>

            </ul>

        </div>
    </div>
</nav>