<!-- <app-navwhitebootraphead></app-navwhitebootraphead> -->
<app-navwhitehead></app-navwhitehead>
<app-navbar></app-navbar>
<!-- <app-pexa-service-carousel></app-pexa-service-carousel> -->
<!-- <app-login></app-login> -->
<!-- <app-registration-form></app-registration-form> -->
<!-- <app-otp-page></app-otp-page> -->
<router-outlet></router-outlet> 
<app-footer></app-footer>
<!-- <app-offeredproducts></app-offeredproducts> -->
<!-- <app-offered-producs></app-offered-producs> -->
<!-- <app-products></app-products> -->
<!-- <app-offeredproducts></app-offeredproducts> -->
<!-- <app-featuredproducts></app-featuredproducts> -->

<!-- <app-make></app-make> -->
<!-- <app-model></app-model> -->