<div class="sam1 "></div>
<div class="name">About us</div>
<div class="container ">
    <div class="box1">
        <h1>India’s Biggest Mobile Car Wash Network</h1>
        <p>DOWNSIDE Syed Ali and Shafi created Carclenx as a mobile auto spa in 2016. Syed Ali & Shafi is well-known for
            their active, and dynamic nature. A group of experts with more than ten years of commercial car washing and
            detailing experience helped him. Our business savvy and field expertise have made us popular. We’re proud of
            this achievement. We want our clients to enjoy our hand vehicle wash at their doorstep, so we make it
            pleasant and easy. We’re the only company in our field to offer steam washing and foam washing as a single
            service package at your location. We’re the only company to offer such affordable services. With just one
            touch, our dual-washing services will change the look of your car. Visually and tactilely. For the purpose
            of maximizing the return that we obtain on the money that you invest in our services, we make use of
            software tools that have been designed in accordance with international standards for Car Spa.</p>
    </div>
    <div class="box2"></div>
</div>
<div class="container1">
    <div class="h5"
        style="font-family: 'Open Sans', sans-serif; font-size: 28px; font-weight: 400; line-height: 38px; letter-spacing: 0.21em; text-align: center; padding-top: 10px;">
        Our Mission</div>
    <div class="h4"
        style="font-family: 'Open Sans', sans-serif; font-size: 40px; font-weight: 500; line-height: 51px; letter-spacing: 0em; text-align: center;">
        We Provide Dedicated Mobile Car<br> Cleaning Services Across India.</div>

    <div class="p"
        style="font-family: 'Open Sans', sans-serif; font-size: 20px; font-weight: 400; line-height: 33px; letter-spacing: 0em; text-align: center;">
        Our mission is to full fill customer service all over india and provide franchisees to those who hire at <br>
        the service station,mobile wash sectors etc.What we create through our business is we provide our <br>business
        rights to those who have own service stations because its is a new type of business <br> innovation to their
        existing venture.</div>
</div>
<div class="centre">
    <div class="container_3">
        <div class="boxcard1">
            <img src="assets/logo/cus_eng1.svg" alt="Icon">
            <div class="text">
                <div class="h5">
                    1000+</div>
               
                <div class="ph5">
                    Trusted Clients</div>
            </div>

        </div>
        <div class="boxcard1">
            <img src="assets/logo/car-wash1.svg" alt="Icon">
            <div class="text">
                <div class="h5">
                    200+</div>
                <div class="ph5">
                    Franchises</div>
            </div>

        </div>
        <div class="boxcard1">
            <img src="assets/logo/invesment 1.svg" alt="Icon">
            <div class="text">
                <div class="h5">
                    2 Crore+</div>
                <div class="ph5">
                    Turnover</div>
            </div>

        </div>
      
    </div>
    <div class="container_sl ">
        <div class="box1sl">
           <div class="Video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/RUC-FLa5qPI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


           </div>
<!-- <br>  <button type="button" class=" custom-button1">View All</button> -->


        </div>
        <div class="box2sl">
            <h3
                style="font-family: 'Open Sans', sans-serif; font-size: 30px; font-weight: 400; letter-spacing: 0em;padding-top: 18%; ">
                Which wash is the <br> best for your vehicle?
            </h3>

            <button type="button" class="btn btn-warning custom-button">Book Now</button>




        </div>
    </div>

</div>
<app-footer></app-footer>
