<div class="container ">
    <div class="locationchange">
      <!-- HTML -->
<img src="assets/logo/Location.svg" alt="" class="logo">
<div class="location"><h6>Locat</h6></div>
<button type="button" class="custom-btn">Change</button>

    </div>


    <form>
        <div class="form-group">
            <label for="houseApartment">House / Apartment</label>
            <input type="text" class="form-control" id="houseApartment" aria-describedby="emailHelp" placeholder="Enter House / Apartment">
        </div>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Enter Name">
        </div>
        <div class="form-group">
            <label for="mobileNumber">Mobile Number</label>
            <input type="tel" class="form-control" id="mobileNumber" placeholder="Enter Mobile Number">
        </div>
    </form>
    <hr class="horizontal-line">

    
    <div class="list-container">
       
        <ul>
            <li>Total</li>
<li style="display: flex;"><h3>Price 699 </h3> 
    <button type="button" class="custom-btn1">Confirm And Proceed</button>
</li>
            
        </ul>
    </div>
</div>