


<div class="container-3">
  <div class="scroll-carousel">
    <div class="scroll-card" *ngFor="let product of featuredProducts">
      <img [src]="product.productId.thumbURL[0]" alt="{{ product.productId.name }} Thumbnail" class="card-image">
      <div class="card-content">
        <div class="card-title">{{ product.productId.name }}</div>
        <!-- <p class="card-description">{{ product.productId.description }}</p> -->
        <div class="pricetag">
       
          <div class="card-price">{{ product.productId.offerPrice }}</div>
        
        <s class="originalprice">{{ product.productId.price }}</s>
          <a href="#" class="buy-btn">+</a>
        </div>
      </div>
    </div>
  </div>
</div>



