<div class="container-3">


  <div class="scroll-carousel">


    <div class="scroll-card">
      <img src="assets/logo/Mask group.svg" alt="Placeholder Image" class="card-image">
      <div class="card-content">
        <div class="card-title">Pexa Degreaser(1L)</div>

        <div style="display: flex; justify-content: space-between; align-items: center;">
          <s>250</s>
          <h3 class="card-price">155</h3>
          <a style="padding-top: 3%;" href="#" class="buy-btn">+</a>
        </div>
      </div>
    </div>
    <div class="scroll-card">
      <img src="assets/logo/Mask group.svg" alt="Placeholder Image" class="card-image">
      <div class="card-content">
        <div class="card-title">Pexa Degreaser(1L)</div>

        <div style="display: flex; justify-content: space-between; align-items: center;">
          <s>250</s>
          <h3 class="card-price">155</h3>
          <a style="padding-top: 3%;" href="#" class="buy-btn">+</a>
        </div>
      </div>
    </div>
    <div class="scroll-card">
      <img src="assets/logo/Mask group.svg" alt="Placeholder Image" class="card-image">
      <div class="card-content">
        <div class="card-title">Pexa Degreaser(1L)</div>

        <div style="display: flex; justify-content: space-between; align-items: center;">
          <s>250</s>
          <h3 class="card-price">155</h3>
          <a style="padding-top: 3%;" href="#" class="buy-btn">+</a>
        </div>
      </div>
    </div>
    <div class="scroll-card">
      <img src="assets/logo/Mask group.svg" alt="Placeholder Image" class="card-image">
      <div class="card-content">
        <div class="card-title">Pexa Degreaser(1L)</div>

        <div style="display: flex; justify-content: space-between; align-items: center;">
          <s>250</s>
          <h3 class="card-price">155</h3>
          <a style="padding-top: 3%;" href="#" class="buy-btn">+</a>
        </div>
      </div>
    </div>
    <div class="scroll-card">
      <img src="assets/logo/Mask group.svg" alt="Placeholder Image" class="card-image">
      <div class="card-content">
        <div class="card-title">Pexa Degreaser(1L)</div>

        <div style="display: flex; justify-content: space-between; align-items: center;">
          <s>250</s>
          <h3 class="card-price">155</h3>
          <a style="padding-top: 3%;" href="#" class="buy-btn">+</a>
        </div>
      </div>
    </div>
    <div class="scroll-card">
      <img src="assets/logo/Mask group.svg" alt="Placeholder Image" class="card-image">
      <div class="card-content">
        <div class="card-title">Pexa Degreaser(1L)</div>

        <div style="display: flex; justify-content: space-between; align-items: center;">
          <s>250</s>
          <h3 class="card-price">155</h3>
          <a style="padding-top: 3%;" href="#" class="buy-btn">+</a>
        </div>
      </div>
    </div>



  </div>

</div>