
.container-3 {
    width: 100%;
    height:auto;
    overflow:hidden; 
    display:flex; 
    justify-content:center; 
  }
  
  .scroll-carousel {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch; /* Enables momentum scrolling on iOS */
    scrollbar-width: none; /* Hides scrollbar on Firefox */
    -ms-overflow-style: none; /* Hides scrollbar on Edge and IE */
  }
  
  .scroll-card {
    flex: 0 0 auto;
    width: 230px;
    height: auto;
    margin-right: 20px;
    scroll-snap-align: start;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .card-image {
    width: 100%;
    height: auto;
  }
  
  .card-content {
    padding: 20px;
  }
  
  .card-title {
    margin: 0;
  }
  
  .card-description {
    margin-top: 5px;
    margin-bottom: 10px;
  }
  
  .buy-btn {
    display: block;
    width: 52px; /* Adjust width as needed */
    height: 45px; /* Adjust height as needed */
    line-height: 30px; /* Vertically center the text */
    background-color:  #0D6EFD;
    ; /* Warning color */
    color: #fff;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 15%; /* Makes it a circular button */
    cursor: pointer;
    margin-left: auto; /* Moves the button to the right */
  }
  
  .buy-btn:hover {
    background-color: #1100fd; /* Darker shade of warning color on hover */
  }
  