<div class="container ">

    <div class="minicontainer">
        <div class="welcome-text">
            Welcome to Pexa <br>
            <div class="car-wash-text">
                Door Step Car Wash
            </div>

            <button type="button" class="btn btn-warning custom-button">
                Book Now
            </button>
        </div>

    </div>

    <div class="container-1">
        <div class="hot-deals-text">
            Hot Deals<br>For You
        </div>
        <button type="button" class=" custom-button1">
            Book Now
        </button>
    </div>
    <div class="popular-services-text">
        Pexa Services
    </div>
   

   <app-pexa-service-carousel></app-pexa-service-carousel>


   <div class="popular-services-text">
    Popular Services
</div>
<app-popular-service-carousal></app-popular-service-carousal>



</div>
