.footer {
    background-color: #404042;
    color: #ffffff;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
}

.down {
    background-color: #404042;
    color: white;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.Details {
    padding: 20px 0;
}

.routes,
.routes1,
.routes2 {
    padding: 20px 0;
}

.routes ul,
.routes1 ul,
.routes2 ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.routes li,
.routes1 li,
.routes2 li {
    margin-bottom: 10px;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .container {
        grid-template-columns: auto; /* Single column layout on smaller screens */
        grid-template-rows: repeat(4, auto); /* Four rows */
    }
}