<footer class="footer" style="font-weight: 200;">
    <div class="container">
        <div class="logo">
            <img src="assets/logo/new logo.png" style="width: 110px; height: 148px;" alt="">

        </div>
        <div class="Details">
            <p>Carclenx pvt.Ltd, Mariyam Tower, <br>
                Mamam, Attingal, Trivandrum, Kerala</p>

            <p> sales@pexacarcare.com</p>
            <p> 9633244456, 1800 1214 150</p>
        </div>
        <div class="routes" style="margin-top: 20px;">
            <li>Home</li>
            <li>About Us</li>
            <li>Download now</li>
            <li>Services</li>
            <li>Booking</li>
            <li>Refund Policy</li>



        </div>
        <div class="routes1" style="margin-top: 20px;">
            <li> Privacy Policy</li>
            <li>About Us</li>
            <li>Terms and conditions</li>
            <li>Gallery</li>
            <li>For Franchise</li>
            <li>Contact</li>

        </div>

        <div class="routes2" style="margin-top: 20px;">
            <li>Inviting Other Mobile <br>
                Unit As Franchise <br> Partner
                Social Media</li><br>
            <li> Social Media</li>
        </div>

    </div>



</footer>

<!-- <hr style="height: 1px; background-color: yellow; border: none;"> -->

<div class="down" style=" color: white;   background-color: #404042;
">
    <div style="padding-left: 3%;">
        <p>Copyright © 2024. All Rights Reserved.</p>
    </div>
    <div style="flex: 1; text-align: right; padding-right: 3%;">Designed & Developed by Qincore Labs</div>
</div>