<footer class="footer" style="font-weight: 200;">
    <div class="container">
        <div class="logo">
            <img src="assets/logo/new logo.png" style="width: 110px; height: 148px;" alt="">
        </div>
        <div class="Details">
            <p>Carclenx pvt.Ltd, Mariyam Tower, <br>
                Mamam, Attingal, Trivandrum, Kerala</p>
            <p> sales@pexacarcare.com</p>
            <p> 9633244456, 1800 1214 150</p>
        </div>
        <div class="routes" style="margin-top: 20px;">
            <ul>
              <li  [routerLink]="'/home'">Home</li>


                <li  [routerLink]="'/About'">About Us</li>
                <li  [routerLink]="'/home'">Download now</li>
                <li  [routerLink]="'/CarWash'">Services</li>
                <li  [routerLink]="'/Booking'">Booking</li>
                <li [routerLink]="'/home'">Refund Policy</li>
            </ul>
        </div>
        <div class="routes1" style="margin-top: 20px;">
            <ul>
                <li  [routerLink]="'/home'"> Privacy Policy</li>
                <li  [routerLink]="'/About'">About Us</li>
                <li  [routerLink]="'/home'">Terms and conditions</li>
                <li  [routerLink]="'/home'">Gallery</li>    
                <li  [routerLink]="'/Franchise'">For Franchise</li>
                <li  [routerLink]="'/Support'">Contact</li>
            </ul>
        </div>
        <div class="routes2" style="margin-top: 20px;">
            <ul>
                <li  [routerLink]="'/home'">Inviting Other Mobile <br>
                    Unit As Franchise <br> Partner
                    Social Media</li>
                <li  [routerLink]="'/home'"> Social Media</li>
            </ul>
        </div>
    </div>
</footer>
<div class="down" style=" color: white;   background-color: #404042;">
    <div style="padding-left: 3%;">
        <p>Copyright © 2024. All Rights Reserved.</p>
    </div>
    <div style="flex: 1; text-align: right; padding-right: 3%;">Designed & Developed by Qincore Labs</div>
</div>



