<app-selected-product></app-selected-product>
<div class="desktop-container">
    <div class="desktop-item" >
        <!-- Content for item 1 -->
        <h4>Price Details</h4>
        <table>

            <tr>
                <td>
                    <h5>Price</h5>
                </td>
                <td>
                    <h6>495</h6>
                </td>
            </tr>
            <tr>
                <td>
                    <h5>Discount</h5>
                </td>
                <td>
                    <h6>100</h6>
                </td>
            </tr>
            <tr>
                <td>
                    <h5>Delivery Charges</h5>
                </td>
                <td>
                    <h6>Free Delivery</h6>
                </td>
            </tr>
            <tr>
                <td>
                    <h5>Total Amount</h5>
                </td>
                <td>
                    <h6>295</h6>
                </td>
            </tr>
            <tr>
                <td>
                    <h6 style="color: green;">You will save₹100 on this order
                    </h6>
                </td>
                <!-- <td><h6>295</h6></td -->
            </tr>

        </table>



    </div>
    <div class="desktop-item" >
        <!-- Content for item 2 -->
        <button type="button" class="btn btn-warning">Place order</button>
    </div>
</div>

<app-offered-producs></app-offered-producs>
